<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tic Tac Toe!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../node_modules/normalize.css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css" />

  </head>
  <body ng-app="game">

    <header>
      <h1>Play Tic-Tac-Toe</h1>
    </header>

    <article class="game" ng-controller="GameController">
      <div class="gameboard">
        Current Player: {{currentPlayer.name}}
        Player Piece: {{currentPlayer.gamePiece}}
        <div class="row" ng-repeat="row in board" ng-init="parentIndex = $index">
          <button class="col board-square" ng-class="board[parentIndex][$index].value" ng-repeat="col in row track by $index" ng-disabled="board[parentIndex][$index].disabled" ng-click="updateGame(parentIndex, $index, playerId)"></button>
        </div>
      </div>
    </article>
    
    <footer>
      <p>Made with &#9829; in San Francisco</p>
    </footer>
    
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="game.module.js"></script>
    <script src="controllers/game.controller.js"></script>
    <script src="services/board.service.js"></script>
    <script src="services/game-logic.service.js"></script>
  </body>
</html>