.board-square {
  height: 100px;
  width: 100px;
  background: white;
  border: none;
}

.row {
  width: 300px;
  border: none;
  display: flex;
  flex-direction: row;
}

/*TODO: MAKE STYLING WORK FOR GRIDS OF ALL SIZES*/
.row:nth-child(1), .row:nth-child(2) {
  border-bottom: 10px solid black;
}

.col:nth-child(1), .col:nth-child(2) {
  border-right: 10px solid black;
}

.X {
  background: url(../icons/x.svg) center no-repeat;
  background-size: contain;
}

.O {
  background: url(../icons/o.svg) center no-repeat;
  background-size: contain;
}